.form-component {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  .image-upload{
    .image{
      width: 100px;
      height: 100px;
    }
  }
  .text-input {
    margin-top: 10px;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: $bg-color;
    margin-bottom: 7px;
    font-size: $normal-font-size;
    padding: 9px 0 7px 8px;
    font-weight: 400;
    &:focus {
      outline: none;
      border: 1px solid #b2b2b2;
    }
  }
}
.button {
  margin-top: 10px;
  @include blueButton();
  svg {
    margin-right: 10px;
  }
}